@import url("https://use.typekit.net/efa7ivj.css");

$sansSerifFont: 'coquette', sans-serif;
$serifFont: "sinete", sans-serif;
$vapor: #eeeeee;
$clouds: #f8f8f8;
$blue: #3498db;
$green: #16a085;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
}

@mixin transition($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0000;
}


//      NAV ICON     //
a {
    color: inherit;
    text-decoration: none;
}

#menu-trigger {
    cursor: pointer;
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

nav {
    width: 100vw;
    height: 50px;
    background-color: #029a7f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    @include flex(row, space-between, center);
    
    .branding {
        font-family: $sansSerifFont;
        font-size: 2rem;
        color: #fff;
        margin-right: 3%;
    }
}
button {
    background: none;
    outline: none;
    border: none;
    z-index: 1001;
}

#hamburger_icon {
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 40px;
    //z-index: 100000;
    .hamburger__line {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 3px;
        height: 6px;
        position: absolute;
        transition-duration: 150ms;
        @include transition(cubic-bezier(0.8, 0.5, 0.2, 1.4));
        width: 100%;
        &:nth-child(1) {
            left: 0px;
            top: 0px;
            transition-duration: 150ms;
        }
        &:nth-child(2) {
            left: 0px;
            opacity: 1;
            top: 12px;
        }
        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
            transition-duration: 150ms;
        }
    }
    &.open {
        .hamburger__line {
            &:nth-child(1) {
                top: 21px;
                @include transform(rotate(45deg));
                transition-duration: 150ms;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 21px;
                @include transform(rotate(-45deg));
                transition-duration: 150ms;
            }
        }
    }
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    background-color: #FED7E2;
    box-shadow: 10px 0 5px rgba(112, 36, 89, 0.2);
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    z-index: 1002;
    .menu-content {
        padding: 2rem;
        background-color: #FBB6CE;
        height: 100%;
        position: relative;
        z-index: 1003;
        .menu-list {
            list-style-type: none;
            .menu-item {
                color: #fff;
                padding-bottom: 0.5rem;
                font-size: 32px;
                font-family: $sansSerifFont;
                font-weight: 500;
                
                &.selected {
                    text-decoration: underline;
                    cursor: none;
                    background-color: none;
                    pointer-events: none;
                }
                &:hover {
                    background-color: #4405cd;
                    padding: 0.25rem;
                }
            }
        }
    }
}

//      HERO SLIDER      //

#heroContainer {
    z-index: 0;
    position: fixed;
    top: 50px;
    left: 0;
}
.slider {
    font-family: $serifFont;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    //margin-top: 52px;
   

    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        //left: -100vw;
        @include flex(row, center, center);

        .slider__text {
            font-size: 5rem;
            font-weight: 600;
            text-align: center;
            color: #fff;
            p {
                line-height: 5rem;
                font-size: 4rem;
            }
        }
    }
    &__arrows {
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 100%;
        @include flex(row, space-between, center);
        &--left,
        &--right {
            border: none;
            margin: 0;
            text-decoration: none;
            font-size: 6rem;
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.7);
            text-shadow: 1px 1px #666;
            padding: 0 2rem;
            cursor: pointer;
            transition: all 0.5s, opacity 0.5s;
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &:focus {
                outline: thin dashed rgba(255, 255, 255, 0.651);
                outline-offset: -4px;
            }
        }
        &--left {
            &:hover {
                transform: translateX(-5px);
            }
        }
        &--right {
            &:hover {
                transform: translateX(5px);
            }
        }
    }
}